Lab3/wsdl/ProductInformation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.fiap.com.br/ProductInformation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:prd="http://www.fiap.com.br/product"
	name="ProductInformation" targetNamespace="http://www.fiap.com.br/ProductInformation">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.fiap.com.br/ProductInformation">
			<xsd:import namespace="http://www.fiap.com.br/product"
				schemaLocation="../xsd/product.xsd" />
			<xsd:element name="GetProduct">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ProductIn" type="prd:ProductInTyp" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetProductResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ProductOut" type="prd:ProductOutTyp" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
					</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetProductRequest">
		<wsdl:part element="tns:GetProduct" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetProductResponse">
		<wsdl:part element="tns:GetProductResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="ProductInformation">
		<wsdl:operation name="GetProduct">
			<wsdl:input message="tns:GetProductRequest" />
			<wsdl:output message="tns:GetProductResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProductInformationSOAP" type="tns:ProductInformation">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetProduct">
			<soap:operation	soapAction="http://www.fiap.com.br/ProductInformation/GetProduct" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProductInformation">
		<wsdl:port binding="tns:ProductInformationSOAP" name="ProductInformationSOAP">
			<soap:address location="http://localhost:8888/ProductInformation" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
